<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TestContext" connectionString="Data Source=.\sqlexpress; Initial Catalog=ef_mapping_test;uid=ef_mapping_test;password=ef_mapping_testx;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>